* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  background-color: #1897da;
}

.header {
  text-align: center;
  color: white;
  font-size: 1.4em;
  letter-spacing: 0.5px;
  line-height: 120px;
}

.row {
  display: flex;
}

.img-row,
.text-row {
  justify-content: center;
  gap: 220px;
}

.column-one-third {
  width: auto;
}

.img-column {
  background-color: white;
  border-radius: 50%;
  position: relative;
  bottom: 30px;
}

.text-column {
  width: 8em;
  position: relative;
  bottom: 30px;
}

.icon-image {
  width: 8em;
  padding: 35px;
}

h3 {
  color: white;
  width: 14em;
  font-size: 20px;
  text-align: center;
  position: relative;
  right: 75px;
}

p {
  color: #d8e2f3;
  width: 17em;
  font-size: 14px;
  text-align: center;
  position: relative;
  right: 50px;
  bottom: 10px;
}
