.container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.column-full {
  width: 100%;
}

.column-one-third {
  width: calc(100% / 3);
}

.column-one-fourth {
  width: 25%;
}

.column-two-thirds {
  max-width: 62%;
}

img {
  width: 100%;
}
