* {
  box-sizing: border-box;
}

.row {
  display: flex;
  margin: 275px;
}

.full-column {
  width: 100%;
}

.text-align-center {
  text-align: center;
}

h1 {
  font-family: 'Noto Sans Mono', sans-serif;
  font-size: 3rem;
}

.tracker {
  border-bottom: 5px solid black;
}

.text-correct {
  color: #1bcd1d;
}

.text-wrong {
  color: #f82408;
  border-bottom: 5px solid  #f82408;
}
