* {
  box-sizing: border-box;
}

body {
  padding: 65px;
}

.container {
  font-family: 'Karla', sans-serif;
  width: 1285px;
  margin: auto;
}

.header {
  text-align: center;
  width: 50%;
  margin: auto;
}

h1 {
  font-size: 50px;
  font-weight: 550;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 35px;
}

p.header-paragraph {
  color: #616161;
  font-weight: 300;
  line-height: 30px;
}

.row {
  display: flex;
}

.one-fourth-column {
  justify-content: center;
  padding: 55px;
  position: relative;
  top: 15px;
}

.half-column {
  width: 50%;
}

.icon {
  position: relative;
  bottom: 30px;
}

h3 {
  font-weight: 400;
  text-transform: uppercase;
  width: 60%;
}

p.body-paragraph {
  color: #616161;
  font-weight: 300;
  line-height: 30px;
  width: 85%;
}

.button {
  display: flex;
  justify-content: center;
}

button {
  color: #d76660;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2.5px solid #d76660;
  background-color: white;
  width: 190px;
  height: 44px;
  margin: 20px;
}
