
.container {
  width: 90%;
  margin: auto;
}

.row {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-width {
  width: 35%;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.gap-35 {
  gap: 35px;
}

.pd-20px {
  padding: 20px;
}

.pd-30px {
  padding: 30px;
}

.pd-40px {
  padding: 40px;
}

.pd-50px {
  padding: 50px;
}

.align-center {
  align-items: center;
}

.border-bottom {
  border-bottom: 1px solid #ebebeb;
  padding: 10px;
}

.light-gray-text {
  color: #cfcfcf;
}

.gray-text {
  color: #747474;
}

.dark-gray-text {
  color: #6e6e6e;
}

.white-text {
  color: white;
}

.font-avenir {
  font-family: 'Avenir', sans-serif;
}

.font-tiempos-normal {
  font-family: 'Tiempos Headline', sans-serif;
}

.uppercase-text {
  text-transform: uppercase;
}

.light-gray-background {
  background-color: #fafafa;
}

.dark-gray-background {
  background-color: #525351;
  height: 450px;
}

.body-background-height {
  height: 520px;
}

.footer-background-height {
  height: 25px;
}

.footer-image {
  position: relative;
  bottom: 45px;
}

.header-image {
  position: relative;
  right: 26px;
}

.nav-item {
  font-size: 13px;
  margin: 7px;
}

img {
  width: 45%;
  height: auto;
}

h2 {
  font-size: 1.8rem;
  font-weight: 100;
}

h3 {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -0.5px;
}

h4 {
  margin: auto;
  font-size: 1.1rem;
}

p {
  position: relative;
  bottom: 10px;
  line-height: 23px;
}

ul {
  list-style-type: none;
  font-size: 1rem;
}

li {
  margin-bottom: 32px;
}

button {
  background-color: #294464;
  color: white;
  border: none;
  border-radius: 3px;
  height: 35px;
}

.get-started-button {
  width: 120px;
}

.contact-us-button {
  width: 86px;
}

.hero-image {
  margin: auto;
  width: 100%;
  height: 90%;
  position: relative;
}

.overlay {
  position: absolute;
  width: 820px;
  height: 420px;
  margin: auto;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4));
}

.hero-text {
  position: absolute;
  text-align: left;
  padding: 50px;
  width: 50%;
  bottom: 520px;
  left: 100px;
}
