* {
  box-sizing: border-box;
}

body {
  margin: auto;

  /* width: 90%;
  padding: 50px; */
}

.row {
  display: flex;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-35 {
  gap: 35px;
}

.pb-50px {
  margin: 50px;
}

.align-center {
  align-items: center;
}

.light-gray-text {
  color: #cfcfcf;
}

.page-header {
  font-size: 12px;
}

.border-bottom {
  border-bottom: 1px solid #ebebeb;
  padding: 10px;
}

.white-text {
  color: white;
}

.font-avenir {
  font-family: 'Avenir', sans-serif;
}

.light-gray-background {
  background-color: #fafafa;
}

.dark-gray-background {
  background-color: #525351;
}

img {
  width: 40%;
  height: auto;
}

button {
  background-color: #294464;
  color: white;
  border: none;
  border-radius: 3px;
  height: 33px;
}

.get-started-button {
  width: 120px;
}

.contact-us-button {
  width: 86px;
}

.hero-image {
  background-image: url(images/hero.jpg);
  background-position: center;
  position: relative;
  background-size: auto 80%;
  background-repeat: no-repeat;
}
